################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Mseiot.Medical.Client/bin/
/Mseiot.Medical.Client/obj/
/Mseiot.Medical.Client/packages/
/Mseiot.Medical.Service/bin/
/Mseiot.Medical.Service/obj/
/MM.Libs.RFID/obj/
/MM.Libs.RFID/bin/
/MM.Libs.RFID.Test/obj/
/MM.Libs.RFID.Test/bin/
/MM.Medical.Decontaminate/bin/Debug
/MM.Libs.RFID/MM.Libs.RFID.csproj.user
/MM.Medical.Management/bin/Debug
/MM.Medical.Management/obj/Debug
/MM.Medical.Share/bin/Debug
/MM.Medical.Share/obj/Debug
/MM.Medical.Decontaminate/obj/Debug
/MM.Medical.Client/bin
/MM.Medical.Client/obj
Mseiot.Medical.Client/.vs/Mseiot.Medical.Client/v16/.suo
Mseiot.Medical.Client/.vs/Mseiot.Medical.Client/v16/.suo
Mseiot.Medical.Client/.vs/Mseiot.Medical.Client/v17/.suo
