################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Mseiot.Medical.Client/bin/Debug
/Mseiot.Medical.Client/obj/Debug
/Mseiot.Medical.Service/bin/Debug
/Mseiot.Medical.Service/obj/Debug
